.container-app {
  display: flex;
  flex-direction: column;
  background-color: hsl(var(--background));
  margin: 0;
  padding: 0;
}

.header {
  width: 100%;
  display: flex;
  padding-left: 2rem;

  align-items: center;
  color: hsl(var(--primary));
  font-size: 3rem;
  margin: 0;
}
